<link rel="stylesheet" href="/css/formValidation.css">
<div class="modal fade" id="contactModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog"aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Contact Us </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form action="/user/contactus" onsubmit="return submitContactData()" method="post">
        <div class="container ">
          <div class="border-none">
            <!-- <h5 class="m-2 fw-bold text-center text-light">BOOKING RIDE FORM</h1> -->
            <h2 class="text-primary ">You Can Find Us Here <h6 class="text-primary mx-3">Find Help For Your Queries Here : </h6> </h2>
          </div>
        </div>
        <div class="container"><br>
          <div class=" row ">
            <div class="mb-3 col-md-12 form-field">
              <label for="contact-name" class=" form-label fw-bold">Name* </label>
              <input type="text" class="form-control w-100" placeholder="Enter Name" id="contact-name" name="name" onkeyup="checkName()" aria-describedby="ride">
              <small></small>
            </div>
            <div class="mb-3 col-md-12 form-field">
              <label for="contact-email" class=" form-label fw-bold">Email Address* </label>
              <input type="email" class="form-control w-100" placeholder="Enter your E-mail" id="contact-email" name="email" onkeyup="checkContactEmail()" aria-describedby="ride">
              <small></small>
            </div>
            <div class="mb-3 col-md-12 form-field">
              <label for="mobile" class=" form-label fw-bold">Mobile Number*</label>
              <input type="text" class="form-control w-100" placeholder="Enter Mobile Number" id="mobile" name="mobile" onkeyup="checkContact()" aria-describedby="ride">
              <small></small>
            </div>
            <div class="mb-3 col-md-12 form-field">
              <label for="role" class=" form-label fw-bold">Select Role*</label>
              <select class="form-select form-select-sm form-control" id="role" name="role" onchange="checkRole()" aria-label="form-select-sm example">
                <option class="fw-bold" value="" selected>Open this select menu</option>
                <option class="fw-bold" value="user">User</option>
                <option class="fw-bold" value="driver">Driver</option>
                <option class="fw-bold" value="owner">Owner</option>
                <option class="fw-bold" value="other">Other</option>
              </select>
              <small></small>
            </div>
            <div class="mb-3 col-md-12 form-field">
              <label for="contact-comment" class=" form-label fw-bold">Comment*</label>
              <textarea class="form-control" placeholder="comment here" id="contact-comment" name="comment" onkeyup="checkComment()" style="height: 100px"></textarea>
              <small></small>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-12 form-field">
            <input type="submit" class="form-control btn btn-primary w-75 ms-5" value="Submit"><br>
            <input type="button" class="form-control btn btn-secondary w-75 ms-5" value="cancel" data-bs-dismiss="modal">
          </div>
        </div><br>
      </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/contact_us_form.js"></script>