<!-- footer -->
<div class="container-fluid mt-3 " id="footer-background">
    <div class="container">
    <div class="row" >
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-4 ">
            <h4 class="text-white ms-md-2" id="links">Links</h4>
            <div class="linksList">
                <p><a class="fs-6 ms-md-2" href="/">Home</a></p>
                <p><a class="fs-6 ms-md-2" href="about">About Us</a></p>
                <p><a class="fs-6 ms-md-2" href="contact_us_form" data-bs-toggle="modal" data-bs-target="#contactModal">Contact Us</a></p>
                <p><a class="fs-6 ms-md-2" href="privacy_policy">Privacy Policy</a></p>
                <p><a class="fs-6 ms-md-2" href="#thirdSection">FAQ's</a></p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-4">
            <h4 class="text-white" id="newsletters">Newsletter</h4>
            <p class="text-white" id="newsletter">Fill Your Inbox with Excitement: Subscribe to Our Newsletter for Car Rental & With Deals, and More!</p>
            <input class="form-control w-50" type="text" name="" id="" placeholder="Enter Your Email"><br>
            <button class="btn text-light fw-bold w-50" id="newsletter-btn">Subscribe</button>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 mt-4">
            <h4 class="text-white ms-md-4 ">Social Media Links</h4>
            <ul class="py-2 linksList">
                <p><i class="fa fa-instagram" style="font-size:25px"></i><span class="ms-md-2 fs-6">Instagram</span></p>
                <p><i class="fa fa-facebook" style="font-size:25px"></i><span class="ms-md-2 fs-6">Facebook</span></p>
                <p><i class="fa fa-twitter" style="font-size:25px"></i><span class="ms-md-2 fs-6">Twitter</span></p>
                <p><i class="fa fa-linkedin" style="font-size:25px"></i><span class="ms-md-2 fs-6">Linkedin</span></p>
            </ul>
        </div>
    </div>
</div>
</div>

</div>
    <div class="container-fluid" id="footer-copyright">
        <p  class="text-white fw-bold text-center m-0" >&copy; CopyRight Act 2023, BookTourCab — Made with passion by ByteShift.</p>
    </div>

<!-- adding font awesome link -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/brands.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Footer CSS link -->
<link rel="stylesheet" href="/css/footer.css">

<!-- Sweet allert cdn -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>