<!-- Modal for Sign up Start -->
<!-- <button class="btn btn-primary mt-3" type="button"  id="signInButton" data-bs-toggle="modal" data-bs-target="#signinmodal" >SignIn</button>  -->
<!-- <button class="btn mt-3 ms-4 btn-secondary" id="signUpButton" type="button" data-bs-toggle="modal" data-bs-target="#signupmodal">SignUp</button> -->

<div class="modal fade" id="signupmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center align-items-center" style="background-color: rgb(99, 99, 232);">
                <button class="btn bg-transparent mx-5 fw-bold text-light" data-bs-toggle="modal" data-bs-target="#signinmodal" style="width:30%;">Sign In</button>
                <button class="btn btn-primary mx-5 text-dark bg-light fw-bold" data-bs-toggle="modal" data-bs-target="#signupmodal" style="width:30%;">Sign Up</button>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-outline">
                    <div class="row">
                       <div class="col-12">
                         <form action="/getotp" onsubmit="return checkEmail2()" method="post"> 
                           <div class="form-field">
                             <label for="mobile-no" class="mx-3 fw-bold">Contact No*</label>
                             <input type="text" id="mobile-no" class="form-control ms-2 w-100" placeholder="Enter Phone Number" name="contactno" onkeyup="checkMobileNumberUp2()">
                             <small class="ms-3"></small><br>
                           </div>
                           <div class="form-field">
                             <label for="email-signup" class="mx-3 fw-bold">Email*</label>
                             <input type="email" id="email-signup" class="form-control ms-2 w-100" placeholder="Enter email" name="email" onkeyup="checkEmail2()">
                             <small class="ms-3"></small><br>
                           </div>
                           <div class="mb-3 col-md-12 form-field">
                               <input class="btn btn-secondary w-100 ms-2" type="submit" value="Get OTP">
                             </div><br>
                         </form>
                       </div>          
                    </div>
                </div>
               <form action="/signup" onsubmit="return submitDetails2()" method="post">
                    <div class="form-field">
                       <label for="otp" class="mx-3 fw-bold">Otp*</label>
                          <input type="text" placeholder="Enter OTP" class="form-control ms-2 w-100" id="otp" name="otp" onkeyup="checkOtpValue2()" >
                       <small class="ms-3"></small>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-12 ">
                          <input type="submit" class="form-control btn btn-primary w-100" value="Submit">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-12 ">
                          <p class="text-center">Already Have an Account ? <a href="#" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#signinmodal"> Sign In</a></p>
                        </div>
                    </div>
               </form>
            </div>
        </div>
    </div>
</div>
   
<!-- Modal for Sign up End -->

<!-- Modal for Sign In with password Start -->
 <div class="modal fade" id="signinmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center align-items-center"
            style="background-color: rgb(99, 99, 232);">
            <button class="btn bg-transparent mx-5 fw-bold text-light" data-bs-toggle="modal" data-bs-target="#signinmodal" style="width:30%;">Sign In</button>
            <button class="btn btn-primary mx-5 text-dark bg-light fw-bold" data-bs-toggle="modal" data-bs-target="#signupmodal" style="width:30%;">Sign Up</button>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>

            <div class="modal-body">
                <form action="/signin" method="post" onsubmit="return checkSignInPasswordData2()">
                    <div class="form-outline">
                        <div class="row">
                            <div class="col-12 ">
                              <div class="form-field">
                                <label for="email-signin" class="mx-4 fw-bold">Email*</label>
                                <input type="email" class="form-control ms-4" placeholder="Enter Email" id="signin-email" name="email" style="width: 90%;" onkeyup="checkSigninEmail2()" >
                                <small class="ms-4"></small><br>
                              </div>
                            <div class="form-field">
                                <label for="signin-password" class="ms-4 fw-bold">Password*</label>
                                <input type="password" class="form-control mx-4" placeholder="Enter Password" id="signin-password" name="password" style="width: 90%;" onkeyup="checkSigninPassword2()">
                                <small class="ms-4"></small><br>
                            </div>
                            </div>
                        </div><br>
                        <div class="row">
                          <div class="mb-3 col-md-12 ">
                            <input type="submit" class="btn btn-success mx-4 fw-bold" value="Sign In" style="width: 90%;"><br>
                          </div>
                      </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <div class="col d-flex justify-content-center align-items-center">
                     <a href="#" class="" data-bs-toggle="modal" data-bs-target="#signinotpmodal"> signin with otp</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal for Sign In with password End -->


<!-- Modal for Sign In with OTP Start -->
<div class="modal fade" id="signinotpmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center align-items-center"
            style="background-color: rgb(99, 99, 232);">
            <button class="btn bg-transparent mx-5 fw-bold text-light" data-bs-toggle="modal" data-bs-target="#signinmodal" style="width:30%;">Sign In</button>
            <button class="btn btn-primary mx-5 text-dark bg-light fw-bold" data-bs-toggle="modal" data-bs-target="#signupmodal" style="width:30%;">Sign Up</button>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

            <div class="modal-body">
                <div class="form-outline">       
                    <form action="/getotp" method="post" onsubmit="return checkOtpSigninEmail2()">
                        <div class="form-field">
                            <label for="signin-otp-email" class="mx-4 fw-bold">Email*</label>
                            <input type="email" class="form-control mx-4" placeholder="Enter Email" id="signin-otp-email" name="email" style="width: 90%;" onkeyup="checkOtpSigninEmail2()">
                            <small class="ms-4"></small>
                        </div><br>
                        <div class="row">
                          <div class="mb-3 col-md-12 ">
                              <input class="btn btn-secondary mx-4" type="submit" value="Get OTP" style="width: 90%;"><br><br>
                          </div>
                        </div>
                    </form>
                    <form action="/signin" method="post" onsubmit="return checkSigninOtp2()">
                        <div class="form-field">
                            <label for="signin-otp" class="mx-4 fw-bold">Otp*</label>
                            <input type="text" placeholder="Enter OTP" class="form-control mx-4" id="signin-otp" name="otp" style="width: 90%;" onkeyup="checkSigninOtp2()" >
                            <small class="ms-4"></small>
                        </div>
                           <div class="row">
                            <div class="mb-3 col-md-12 ">
                                <input type="submit" class="btn btn-success mx-4 fw-bold" value="Sign In" style="width: 90%;"><br>
                            </div>
                          </div>
                    </form>   
                </div>
            </div>
            <div class="modal-footer">
                <div class="col d-flex justify-content-center align-items-center">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#signinmodal"> sign with password</a>
                </div>
            </div>
        </div>
    </div>
</div> 

<!-- Modal for Sign In with OTP End -->

    <script src="/js/sign.js"></script>