<!-- <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#userRegistrationForm">
    long term booking 
  </button><br><br> -->

<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<link rel="stylesheet" href="/css/formValidation.css">
<script src="/js/state_city.js"></script>
<script src="/js/user_registration_form.js"></script>

<div class="modal fade" id="userRegistrationForm" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">User Registration Form </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form action="/user/completeprofile" onsubmit="return submitFormData3()" method="post" class="form" enctype="multipart/form-data">
        <div class="container ">
          <div class="border bg-primary">
            <h5 class="m-2 fw-bold text-center text-light">USER REGISTRATION FORM</h5>
          </div>
        </div>
        <div class="container"><br>
          <div class="row">
            <div class="mb-3 col-lg-6 form-field">
              <label for="user-name" class=" form-label fw-bold">Name</label>
              <input type="text" class="form-control w-75" placeholder="Enter Full Name" name="name" id="user-name" onkeyup="checkUsername3()" autocomplete="off">
              <small></small>
            </div>
            <div class="mb-3 col-lg-6"><br>
                <label for="gender" class=" form-label fw-bold ">Gender</label>
                <input type="radio" class="border-dark fw-bold mx-3" value="Male" checked name="gender" id="male" aria-describedby="ride"><label for="male" class="fw-bold">Male</label>
                <input type="radio" class="border-dark fw-bold mx-3" value="Female" name="gender" id="female" aria-describedby="ride"><label for="female" class="fw-bold">Female</label>
                <input type="radio" class="border-dark fw-bold mx-3" value="Other" name="gender" id="other" aria-describedby="ride"><label for="other" class="fw-bold">Other</label>
              </div>
            </div>
          <div class=" row ">
            
            <div class="mb-3 col-lg-6 form-field">
              <label for="user-address" class="form-label fw-bold ">Address</label>
              <input type="text" class="form-control  w-75 " placeholder="Enter Address" id="user-address" name="address" aria-describedby="address" onkeyup="checkAddress3()">
              <small></small>
            </div>
            <div class="mb-3 col-lg-6 form-field">
              <label for="pincode" class=" form-label fw-bold ">Pincode</label>
              <input type="text" class="form-control w-75 " placeholder="Enter Pincode" id="pincode" name="pincode" aria-describedby="ride" onkeyup="checkPincode3()">
              <small></small>
            </div>
          </div>

          <div class=" row">
            <div class="mb-3 col-lg-6 form-field">
              <label for="user-state" class=" form-label fw-bold ">State</label>
              <select onchange="print_city('user-city', this.selectedIndex);checkUserState3();" id="user-state" name ="state" class="form-control  w-75"></select>
              <small></small>
            </div>

            <div class="mb-3 col-lg-6 form-field">
              <label for="user-city" class=" form-label fw-bold ">City</label>
              <select id ="user-city" class="form-control w-75" name="city" onchange="checkUserCity3()"></select>
              <script language="javascript">print_state("user-state");</script>
              <small></small>
            </div>
          </div>

          <div class=" row ">
            <div class="mb-3 col-lg-6 form-field">
              <label for="user-aadhar-number" class=" form-label fw-bold ">Aadhar Number</label>
              <input type="text" class="form-control  w-75 " placeholder="Enter Aadhar Number" id="user-aadhar-number" name="aadharnumber" aria-describedby="ride" onkeyup="checkAadharNumber3()">
              <small></small>
            </div>
            <div class="mb-3 col-lg-6 form-field">
              <label for="user-aadhar-img" class=" form-label fw-bold">Upload Aadhar Image</label>
              <input type="file" class="form-control w-75" placeholder="Upload Aadhar image here" id="user-aadhar-img" name="aadharimg" aria-describedby="ride" accept="image/*" onchange="checkAadharImage3()">
              <small></small>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-lg-6 form-field">
              <label for="user-pan-number" class=" form-label fw-bold ">Pan Card Number (optional)</label>
              <input type="text" class="form-control w-75 " placeholder="Enter Pancard Number" name="pannumber" id="user-pan-number" onkeyup="checkPanCardNumber3()" aria-describedby="ride">
              <small></small>
            </div>
            <div class="mb-3 col-lg-6 form-field">
              <label for="user-pancard-image" class=" form-label fw-bold">Upload Pan Card Image (optional)</label>
              <input type="file" class="form-control w-75" placeholder="UploadPan Card image here" name="panimg" id="user-pancard-image" accept="image/*"  onchange="checkPanCardImage3()" aria-describedby="ride">
              <small></small>
            </div>
          </div>
          
        </div>
        <div class="row">
          <div class="mb-3 col-lg-6 form-field">
            <input type="submit" class="btn btn-primary w-75" value="Submit">
          </div>
          <div class="mb-3 col-lg-6 form-field">
            <input type="button" class="btn btn-secondary w-75" value="cancel" data-bs-dismiss="modal">
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>


<!-- <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script> -->
