@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

body {
    overflow-x: hidden;
}

#input1,
#input2 {
    text-align: center;
}

#BelowlocationSection {
    background-image: linear-gradient(180deg, #868bf6, #c3d6f3);
}

#driver-info {
    background-color: #5359E2;
}

#signInButton { 
    background-color: #2770EC; 
    color: white;
    font-weight: bold;   
}
#signUpButton {
    background-color: #66A3FF; 
    color: white;
    font-weight: bold;      
}
#logout-btn{
    background-color: #2770EC; 
}

#logout-btn-2{
    background-color: #2770EC; 
}
