<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BTC-Welcome To BTC Home Page</title>
  <!-- <link rel="icon" href="/favicon.ico" type="image/x-icon"> -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body>
  <!-- including navbar -->
  <%- include('../partials/navbar'); %>
  <%- include('../partials/user_registration_form'); %>
  <%- include('../partials/sign.ejs'); %>
  <div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 col-md-12">
            <div class="row my-5" id="firstSection">
                <div class="col col-lg-12 col-md-12 ">
                    <h1 class="display-5 fw-bold fs-normal ms-2">For Rent Car</h1>
                </div>
                <div class="col-12 col-lg-12 col-md-12">
                    <h1 class="Hsecond display-2 fw-bold ms-1">Best Deals</h1>
                    <p class="ms-2 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Et accusamus perspiciatis. <br><br> minima laboriosam porro suscipit quod ad voluptatum. <br> Omnis huid erus tuwab bksab.</p>
                    <!-- <button class="btn btn-secondary button-shadow w-50 ms-2 mt-5" id="book-vehicle-page-btn" data-bs-toggle="modal" data-bs-target="#userRegistrationForm"><a href="vehicle_booking_page">Book a Vehicle</a></button> -->
                    <%if(user=="" || user==null || user== undefined){%>
                      <button class="btn btn button-shadow w-50 ms-2 mt-5" id="book-vehicle-page-btn" data-bs-toggle="modal" data-bs-target="#signupmodal">Book a Vehicle</button>
                    <% }else if(user.is_complete){%>
                      <button class="btn btn button-shadow w-50 ms-2 mt-5" id="book-vehicle-page-btn" ><a href="/user/vehicle_booking_page" class="text-decoration-none text-white fw-bold">Book a Vehicle</a></button>
                    <%}else if(!user.is_complete){%>
                      <button class="btn btn button-shadow w-50 ms-2 mt-5" id="book-vehicle-page-btn" data-bs-toggle="modal" data-bs-target="#userRegistrationForm">Book a Vehicle</button>
                    <%}%>
                  </div>
            </div>
        </div>
        <div class="col col-lg-6 col-md-12 col-sm-12">
            <img src="/images/homeimage.jpeg" style="height: auto; width: 70%;" alt="loded...">
        </div>
    </div>
</div>

   <div class="container" id="secondSection">
    <div class="row">
        <div class="col col-lg-6 col-md-12 col-sm-12 mt-3 ">
            <h1 class="text-white">Who We Are?</h1>
                <p class="w-75 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi voluptates facere cum quos quasi, esse hic facilis in blanditiis ut!Eligendi voluptates facere cum quos quasi, esse hic facilis in blanditiis ut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem dicta accusantium quae, aut sequi quo, harum ea?</p>
                <p class="w-75 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit aperiam consectetur adipisicing.</p>
                <p class="w-75 text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit aperiam consectetur adipisicing.</p>
                <button class="btn btn-secondary w-50 mx-4 button-shadow" id="know-more-btn">Known More</button>
        </div>
        <div class="col col-lg-6 col-md-12  col-sm-12 my-5">
          <div class="container d-flex justify-content-center align-items-center">
            <div class="outer-ring">
                <div class="inner-circle">
                    <div class="extra-circle extra-circle-inner-1"><i class="fa fa-facebook" style="font-size:36px;"></i></div>
                    <div class="extra-circle extra-circle-inner-2"><i class="fa fa-instagram" style="font-size:36px"></i></div>
                    <div class="extra-circle extra-circle-inner-3"><i class="fa fa-twitter" style="font-size:36px"></i></div>
                </div>
                <div class="extra-circle extra-circle-outer-1"><i class="fa fa-linkedin" style="font-size:36px"></i></div>
                <div class="extra-circle extra-circle-outer-2"><i class="fa fa-apple" style="font-size:36px"></i></div>
                <div class="extra-circle extra-circle-outer-3"><i class="fa fa-google" style="font-size:36px"></i></div>
                <div class="extra-circle extra-circle-outer-4"><i class="fa fa-whatsapp" style="font-size:36px"></i></div>
            </div>
        </div>
        </div>
    </div>
   </div>

   <div class="container mt-4" id="thirdSection">
      <br><br>
    <h4 class=" text-white text-center">See What People Ask To Us</h4>
      <h1 class="text-white text-center">FAQ'S</h1>
      <div class="row">
          <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item my-4">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne" id="accrodianBtn">
                  How Can Drope The Rental Car
                </button>
              </h2>
              <div id="flush-collapseOne1" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
              </div>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
              </div>
            </div>
            <div class="accordion-item my-4">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne" id="accrodianBtn">
                  How Can Drope The Rental Car
                </button>
              </h2>
              <div id="flush-collapseOne2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
              </div>
            </div>


            <div class="accordion-item my-4">
               <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne" id="accrodianBtn">
                      How Can Drope The Rental Car
                    </button>
                  </h2>
                  <div id="flush-collapseOne3" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample3">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                  </div>
            </div>
        </div>
          </div>

          <div class="col-12 col-lg-6 col-md-12 col-sm-12">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item my-4">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne4" aria-expanded="false" aria-controls="flush-collapseOne" id="accrodianBtn">
                      How Can Drope The Rental Car
                    </button>
                  </h2>
                  <div id="flush-collapseOne4" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                  </div>
                </div>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item my-4">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne5" aria-expanded="false" aria-controls="flush-collapseOne" id="accrodianBtn">
                      How Can Drope The Rental Car
                    </button>
                  </h2>
                  <div id="flush-collapseOne5" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                  </div>
                </div>
            </div>

            <div class="accordion accordion-flush" id="accordionFlushExample3">
                <div class="accordion-item my-4">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne6" aria-expanded="false" aria-controls="flush-collapseOne" id="accrodianBtn">
                      How Can Drope The Rental Car
                    </button>
                  </h2>
                  <div id="flush-collapseOne6" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample3">
                    <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
                  </div>
                </div>
            </div>
        </div>      
      </div>
   </div>
   
    <!-- including footer -->
    <%- include('../partials/footer'); %>
</body>

</html>