<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>BTC : Privacy Policy</title>
</head>
<body>

   <!-- adding navbar -->
   <%- include('../partials/navbar'); %>

   <div class="container my-5">
      <h1 class="my-5" style="color: lightskyblue;">Privacy Policy</h1>
      <p>
         Your privacy matters to Roppen Transportation Services Private Limited (the “Company”, “we”, “Rapido”, or “us”).
         This Privacy Policy (“Policy”) describes the policies and procedures on the collection, use, disclosure and protection of your information when you use our website located at https://rapido.bike/, or the Rapido mobile application (collectively, “Rapido Platform” or “Rapido App”).
      </p>
      <p>
         The terms “you” and “your” refer to the user of the Rapido Platform. The term “Services” refers to any services offered by Rapido/You whether on the Rapido Platform or otherwise.
      </p>
      <p>
         Please read this Policy before using the Rapido Platform or submitting any personal information to Rapido. This Policy is a part of and incorporated within, and is to be read along with, the applicable Terms and Conditions based on the user of the Rapido Platform.
      </p>
      <p>
         By using the Rapido Platform and the Services, you agree and consent to the collection, transfer, use, storage, disclosure and sharing of your information as described and collected by us in accordance with this Policy. If you do not agree with the Policy, please do not use or access the Rapido Platform.
         If you have questions about this Privacy Policy, please contact us through email address provided on our website and/or Mobile Application.
      </p>
      <ol>
         <li>DEFINITIONS</li>
         <li>Unless otherwise provided in this Privacy Policy, the terms capitalized in the Privacy Policy shall have the meaning as provided hereunder:
         <ol>
            <li type="a">“Captains” means independent third-party vehicle operators or riders who wish to offer services on the Rapido Platform to a User.</li>
            <li type="a">“Co-branded Services” shall have the meaning assigned to the term in paragraph 4(c) hereto.</li>
            <li type="a">“Device” shall mean computer, mobile or other device used to access the Services.</li>
            <li type="a">“Device Identifier” shall mean IP address or other unique identifier for the Device.</li>
            <li type="a">“Mobile Application” shall mean application provided by us on the Device to access the Services.</li>
            <li type="a">“Mobile Device Information” shall have the meaning assigned to the term in paragraph 2(II)(e)(ii) hereto.</li>
            <li type="a">“Co-branded Services” shall have the meaning assigned to the term in paragraph 4(c) hereto.</li> 
         </ol>
         </li>
         <li>“Usage Information” shall have the meaning assigned to the term in paragraph 2(II)(a) hereto.WHAT INFORMATION DO WE COLLECT?</li>
         <li>INFORMATION YOU PROVIDE TO US</li>
         <li>We may ask you to provide us with certain Protected Information. We may collect this information through various means and in various places through the Services, including account registration forms, contact us forms, or when you otherwise interact with us. When you sign up to use the Services, you create a user profile. We shall ask you to provide only such Protected Information which is for lawful purpose connected with our Services and necessary to be collected by us for such purpose.</li>
      </ol>
   </div>

   <!-- adding footer -->
   <%- include('../partials/footer') %>
   
</body>

</html>