<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BTC : Services</title>
    <link rel="stylesheet" href="/css/services.css">
</head>

<body>
    <!-- adding navbar -->
    <%- include('../partials/navbar') %>

    <!-- main div -->
    <div class="container" id="maindiv">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <img class="img-content" src="images/ser1.png" alt="">
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 para-content">
                <h2 class="text-center services-heading mt-3">This is an Heading</h2>
                <p class="ms-3 mt-3" >
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex
                    aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta
                    recusandae molestias
                </p>
                <p class="mb-3 ms-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex
                    aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta
                    recusandae molestias
                </p>
                <p class="ms-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex
                    aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta
                    recusandae molestias
                </p>
            </div>
        </div>

        <div class="row mt-5">
            <div class=" col-lg-6 col-md-12 col-sm-12 para-content">
                <h2 class="text-center services-heading">This is an Heading</h2>
                <p class="mb-3 mt-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex
                    aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta
                    recusandae molestias
                </p>
                <p class="mb-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex
                    aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta
                    recusandae molestias
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex
                    aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta
                    recusandae molestias
                </p>
            </div>

            <div class=" col-lg-6 col-md-12 col-sm-12">
                <img class="img-content" src="/images/ser2.jpg" alt="">
            </div>
        </div>
        
        <div class="row mt-3 ">
            <div class=" col-lg-6 col-md-12 col-sm-12">
                <img class="img-content"  src="/images/img3.jpg" alt="">
            </div>

            <div class=" col-lg-6 col-md-12 col-sm-12 para-content">
                <h2 class="text-center services-heading">This is an Heading</h2>
                <p class="mb-3 mt-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex
                    aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta
                    recusandae molestias
                </p>
                <p class="mb-3">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex
                    aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta
                    recusandae molestias
                </p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam, sit sed eius ipsum quaerat ex
                    aliquid fugiat nulla quae! Ea amet voluptate nostrum delectus inventore sunt hic dicta
                    recusandae molestias
                </p>
            </div>
        </div>
    </div>



    <%- include('../partials/footer') %>

</body>

</html>