<!doctype html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>User Dashboard</title>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
     <link rel="stylesheet" href="css/user_dashboard.css">
</head>

<body>

     <!-- adding navbar -->
    <%- include('../partials/navbar') %>
    <!-- Adding driver registration Form -->
    <%- include('../partials/driver_registration_form'); %>
    <!-- Adding owner registration Form -->
    <%- include('../partials/owner_registration_form'); %>

     <div class="container">
          <div class="row">
               <!-- Main Menu -->
               <div class=" col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-4 myDashboardCard " style="background-color:#535Af8">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-user-circle text-light display-2 m-4"></i>
                        <p class="my-4 text-light">Hemant Prajapati User<br>9879875678</p>
                    </div>
                    <div class="mx-5 fw-bold text-light">
                         <span class="dashboard-links" onclick="showDetails('account-details')" >Account Details</span><br><br>
                         <span class="dashboard-links" onclick="showDetails('booking-details')" >Booking Details</span><br><br>
                         <span class="dashboard-links" onclick="showDetails('ride-details')" >Ride History</span><br><br>
                         <span class="dashboard-links" onclick="showDetails('change-password')" >Change Password</span><br><br>
                         <span class="dashboard-links" onclick="showDetails('wallet-details')" >Wallet</span><br><br>
                         
                         <%if(user.is_driver){%>
                            <button class="btn btn-primary  mt-2 w-75 text-dark" id="driver-dashboard-btn" style="background-color: #d8d6e3;" >Driver DashBoard</button>
                        <%}else{%>
                            <button class="btn btn-primary  mt-2 w-75 text-dark" data-bs-toggle="modal" data-bs-target="#driverRegistrationForm" style="background-color: #d8d6e3;" >Become Driver</button>
                        <%}%>
                        <% if(user.is_owner){%>  
                            <button class="btn btn-primary  my-3 w-75 text-dark" id="owner-dashboard-btn" style="background-color: #d8d6ed;">Owner DashBoard</button> 
                        <%}else{%>
                            <button class="btn btn-primary  my-3 w-75 text-dark" data-bs-toggle="modal" data-bs-target="#ownerRegistrationForm" style="background-color: #d8d6ed;">Become Owner</button> 
                        <%}%>
                    </div>
                </div>
          <!-- Main Menu -->

           <!-- User Details -->
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 " id="account-details" >
                    <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                        <div class="d-sm-flex m-2"  style="background-color: white; width: 98%; ">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-3 ps-5">
                                <!-- <i class="fa-solid fa-circle-user m-4  display-1 text-secondary" style="color: #1f2551; height: fit-content;"></i> -->
                                <img src="images/profilePic.jpeg" height="auto" width="50%" alt="" style="border-radius: 50%;">
                              </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" >
                                <label for="name" class="fw-bold fs-5 my-1">Name : </label><span> Andrew Anderson</span><br>
                                <label for="gender" class="fw-bold fs-5 my-1">Gender : </label><span> Male</span><br>
                                <label for="Date" class="fw-bold fs-5 my-1">DOB : </label><span> 29/12/2004</span><br>
                                <label for="email" class="fw-bold fs-5 my-1">E-mail : </label><span> andrewanderson@gmail.com</span><br>
                                <label for="Address" class="fw-bold fs-5 my-1">Address : </label><span> Khandwa Naka, Indore</span><br>
                                <label for="city" class="fw-bold fs-5 my-1">City : </label><span>  Indore</span><br>
                                <label for="state" class="fw-bold fs-5 my-1">State : </label><span>  Madhya Pradesh</span><br>
                                <label for="pincode" class="fw-bold fs-5 my-1">Pin code : </label><span>  452020</span><br>
                                <label for="pincode" class="fw-bold fs-5 my-1">Aadhar Number : </label><span> 9810 3410 3453</span><br>
                                <button class="btn btn-primary btn-md my-5 w-50 " style="background-color: #5647F9;">Update Details</button>
                            </div>
                        </div>
                    </div>
                </div>
          <!-- User Details -->

           <!-- Booking History -->
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="booking-details">
                    <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                        <div class="table-responsive">
                            <h4 class="text-center fw-bold mt-2 " style="background-color: white;">View Booking History</h4>
                            <br>
                            <table class="table table-striped" style="background-color: white;">
                                <thead>
                                    <th>Booking Date</th>
                                    <th>Booking Days</th>
                                    <th>Vehicle Number</th>
                                    <th>Driver Name</th>
                                    <th>Driver Contact</th>
                                    <th>Total Cost</th>
                                </thead>
                                <tbody>
                                    <!-- Table Data Fill Here -->
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
          <!-- Booking History -->

          <!-- Ride History -->
               <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="ride-details">
                    <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                        <div class="table-responsive">
                            <h4 class="text-center fw-bold mt-2 " style="background-color: white;">View Booking History</h4>
                            <br>
                            <table class="table table-striped" style="background-color: white;">
                                <thead>
                                    <th>Booking Date</th>
                                    <th>Pickup Location</th>
                                    <th>Destination Location</th>
                                    <th>Vehicle Number</th>
                                    <th>Driver Name</th>
                                    <th>Driver Contact</th>
                                    <th>Total Cost</th>
                                </thead>
                                <tbody>
                                    <!-- Table Data Fill Here -->
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                   
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
          <!-- Ride Booking -->
               
           <!-- User Change Password -->
           <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="change-password">
               <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                   <h4 class="text-center fw-bold my-2 m-2 " style="background-color: white;">Change Password</h4>
                   <div class="m-2" style="background-color: white;">
                       
                       <div class="text-center" style="background-color: white;">
                           <div class="">
                               <label class=" fw-bold fs-5 mt-3" for="oldpassword">Old Password</label><br>
                               <input type="password" class="w-50 text-start border-dark " placeholder="Enter Old Password" id="oldpassword">
                           </div>
                           <div class="my-5">
                               <label class="fw-bold fs-5 " for="newpassword">New Password</label><br>
                               <input type="password" class="w-50 text-start border-dark " placeholder="Enter Old Password" id="newpassword">
                           </div>
                           <div class="my-5">
                               <label class="fw-bold fs-5  " for="confirmpassword">Confirm Password</label><br>
                               <input type="password" class="w-50 text-start border-dark " placeholder="Enter Old Password" id="confirmpassword">
                           </div>
                           <div class="mt-5">
                              <button class="btn btn-primary w-25 fs-5 fw-bold form-control"  onsubmit="return validatePassword()">Submit</button><br><br>
                           </div>
                           <br>
                       </div>
                      
                   </div>
               </div>
           </div>    
           <!-- User Change Password -->

           <!-- User Wallet -->
           <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="wallet-details">
               <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                   <div>
                       <h4 class="text-center fw-bold mt-2 " style="background-color: white;">WALLET</h4>
                   <div class="bg-light "><br>
                           <span class="fs-4  ms-5 fw-bold">Wallet Amount: $ 300</span>
                       <div class="row mx-1 my-1 bg-light">
                           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                               <button class="btn btn-primary btn-md m-4 w-75">Add Amount</button>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                               <button class="btn btn-primary btn-md m-4 w-75">View History</button>
                           </div>
                           
                       </div>
                   </div>
                   <div class="table-responsive">
                 
                       <table class="table table-striped" style="background-color: white;">
                           <thead>
                               <th>S.No.</th>
                               <th>Date</th>
                               <th> Amount</th>
                           </thead>
                           <tbody>
                               <!-- Table Data Fill Here -->
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                               <tr>
                                   <td></td>
                                   <td></td>
                                   <td></td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
                   </div>
               </div>
           </div>
           <!-- User Wallet -->
              
     <!-- adding footer -->
    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="/js/user_dashboard.js"></script>
</body>


</html>