<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/vehicle_booking.css">
</head>

<body>
       <!-- adding navbar -->
       <%- include('../partials/navbar')%>
  <div class="container mt-5">


  <div class="row">
    <div class="col-12 col-lg-4 col-md-12 col-sm-12 col-xs-12 " id="BelowlocationSection">
      <form>
        <div class="m-3 p-1">
          <label for="days" class="form-label fw-bold text-light">Enter Days</label>
          <input type="number" class="form-control" id="days" aria-describedby="emailHelp" placeholder="Enter Number Of Days">
        </div>
        <div class="m-3 p-1">
          <label for="pickuplocation" class="form-label fw-bold text-light">Pick Up Location</label>
          <input type="text" class="form-control" id="pickuplocation" aria-describedby="emailHelp" placeholder="Enter PickUp Location">
        </div>
        <div class="m-3 p-1">
          <label for="droplocation" class="form-label fw-bold text-light">Dropping Off Location</label>
          <input type="text" class="form-control" placeholder="Enter Dropping Up Location" id="droplocation">
        </div>
        <div class="m-3 p-1">
          <label for="bookDate" class="form-label fw-bold text-light">Booking Start Date</label>
          <input type="text" class="form-control" placeholder="Enter Booking Start Date " id="bookDate">
        </div>
        <div class="m-3 p-1">
          <label for="vehicletype" class="form-label fw-bold text-light">Select Type</label>
          <select id="vehicletype" class="form-select">
            <option class="fw-bold">Select Vehicle</option>
            <option class="fw-bold">Bike</option>
            <option class="fw-bold">Car</option>
            <option class="fw-bold">Electric Vehicle</option>
          </select>
        </div>
        <div class="m-3 p-1">
          <label for="vehicletype" class="form-label fw-bold text-light">Select Vehicle Company</label>
          <select id="vehicletype" class="form-select">
            <option class="fw-bold">Select Vehicle Company</option>
            <option class="fw-bold">Honda</option>
            <option class="fw-bold">TATA</option>
            <option class="fw-bold">Mahindra</option>
          </select>
        </div>
        <div class="m-3 p-1">
          <label for="VehicelMode" class="form-label fw-bold text-light">Select Vehicle Mode</label>
          <select id="VehicelMode" class="form-select">
            <option class="fw-bold">Select Vehicle Mode</option>
            <option class="fw-bold">Honda</option>
            <option class="fw-bold">TATA</option>
            <option class="fw-bold">Mahindra</option>
          </select>
        </div>

        <div class="m-3 p-1">
          <label for="payment_mode" class="form-label fw-bold text-light">Select Method</label>
          <select id="payment_mode" class="form-select">
            <option class="fw-bold">Select Payment Method</option>
            <option class="fw-bold">Online</option>
            <option class="fw-bold">Cash</option>
          </select>
        </div>

        <form class="d-flex m-3 p-1" role="search">
          <button class="btn  btn-primary mx-2 w-100" type="submit">Search Vehicle</button>

        </form><br><br>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <iframe class="w-100 h-100 embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3450948.591902727!2d78.32457093676905!3d24.052936670834818!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1693549531617!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row ">
      <div class="col-lg-6 col-md-6 col-sm-12 my-3 ">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <!-- <div class="row"> -->
      <div class="col col-lg-6 col-md-6 col-sm-12 my-3 ">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <!-- <div class="row"> -->
      <div class="col col-lg-6 col-md-6 col-sm-12 my-3 ">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <!-- <div class="row"> -->
      <div class="col col-lg-6 col-md-6 col-sm-12 my-3">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <!-- <div class="row"> -->
      <div class="col col-lg-6 col-md-6 col-sm-12 my-3">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-lg-6 col-md-6 col-sm-12 my-3">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <!-- adding footer -->
  <%- include('../partials/footer')%>
</body>

</html>