body{
    overflow-x: hidden;
}
.Hsecond{
    color: #007CA3;
}

#secondSection{
    background-image: linear-gradient(90deg, #5359E2, #535ae240);
}

#accrodianBtn{
    background-image: linear-gradient(180deg, #A6CAEB,#F6F0EF);
}
#thirdSection{
    height: auto;
    background-color: #5359E2;
}

/* Circle Start */

.outer-ring {
        width: 300px;
        height: 300px;
        /* border: 2px solid #d8e2e9; */
        border: 2px solid #eff2f3;
        border-radius: 50%;
        position: relative;
        animation: rotateClockwise 30s linear infinite;
    }

    .inner-circle {
        width: 163px;
        height: 168px;
        background-color: #e1ecf3;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .extra-circle {
        border-radius: 50%;
        position: absolute;
        animation: rotateCounterClockwise 10s linear infinite;
    }

    /* Position the small green circles on the outer ring */
    .extra-circle-outer-1 {
        top: -15px;
        left: 50%;
        transform: translateX(-50%);
        animation-delay: -2s;
    }

    .extra-circle-outer-2 {
        top: 50%;
        left: 95%;
        transform: translateX(-50%);
        animation-delay: -4s;
    }

    .extra-circle-outer-3 {
        bottom: -17px;
        left: 50%;
        transform: translateX(-50%);
        animation-delay: -6s;
    }

    .extra-circle-outer-4 {
        top: 50%;
        left:  -5px;
        transform: translateX(-50%);
        animation-delay: 8s;
    }

    /* Position the small green circles on the inner circle */
    .extra-circle-inner-1 {
        top: calc(15% - 10px);
        left: calc(16% - 10px);
        animation-delay: 2.5s;
    }

    .extra-circle-inner-2 {
        top: calc(50% - 10px);
        /* Half of the circle's height */
        left: calc(93% - 10px);
        /* Full width minus half of the circle's width */
        animation-delay: 5s;
    }

    .extra-circle-inner-3 {
        top: calc(92% - 10px);
        left: calc(19% - -9px);

        animation-delay: -7.5s;
    }

    /* Animation for the small green circles */
    @keyframes rotateCounterClockwise {
        0% {
            transform: rotate(0deg);
        }

        /* 100% {
            transform: rotate(-360deg);
        } */
    }

    /* Animation for the outer blue circle */
    @keyframes rotateClockwise {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
/* Circle End */

.myBtnDiv{
    width: 55vh;
}

.button-shadow{
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
}

#book-ride-page-btn{
    background-color: #5359E2;
    color: white;
    font-weight: 600;
}
#book-ride-page-btn a{
    text-decoration: none;
    color: white;
}
#book-vehicle-page-btn{
    background-color: #21539F;
    color: white;
    font-weight: 600;
}
#book-vehicle-page-btn a{
    text-decoration: none;
    color: white;
}

#book-vehicle-page-btn:hover{
    background-color: #193d74;
}

#book-ride-page-btn:hover{
    background-color: #363a95;
}

#know-more-btn{
    background-color:  #21539F;
    border: 0px;
}
#know-more-btn:hover{
    background-color: #193d74;
}
