.myDashboardCard {
  /* background-color: #ffffff47;  */
  border-radius: 10px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
}

.dashboard-links:hover {
  border-bottom: 3px solid white;
  padding-bottom: 2px;
  /* color: rgba(30, 47, 100, 0.664); */

}

#booking-details,
#ride-details,
#change-password,
#wallet-details {
  display: none;
}