<!DOCTYPE html>
<html>
<head>
  <title>404 Not Found</title>
</head>
<body>
    <center style="margin-top: 20%;">
        <h1 style="font-size: 4rem;">404 Not Found</h1>
        <p style="font-size: 1.2rem;">The requested page could not be found.</p>
    </center>
</body>
</html>
