<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About BTC</title>
    <link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <!-- adding navbar partial -->
    <%- include('../partials/navbar'); %>

    <!-- main div -->
    <div class="container mt-2" id="maindiv">
        <div class="row ">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <h2>Our Team</h2><br>
                <p class="mb-3">
                   Explore the vibrant city of Belfast with Cab Tours Belfast a Black Taxi Tour. Our guided tours
                   offer an immersive experience, showcasing the rich history, iconic landmarks, and hidden gems of
                   this captivating city.
                </p>
                <p class="mb-3">
                   Book your tour today and embark on an unforgettable journey throughExplore the vibrant city of
                   Belfast with Cab Tours Belfast a Black Taxi Tour.
                </p>
                <p>
                   Our guided tours offer an immersive experience, showcasing the rich history, iconic landmarks,
                   and hidden gems of this captivating city. Book your tour today and embark on an unforgettable
                   journey through
                </p>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <img class="text-img" src="images/about.jpg" alt="">
            </div>
        </div>
    </div>

    <!-- adding footer -->
    <%- include('../partials/footer'); %>
    
</body>

</html>