<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Owner Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>
<body>

    <!-- adding navbar -->
    <%- include('../partials/navbar') %>
    <%- include('../partials/reserved_driver_registration_form') %>
    <%- include('../partials/vehicle_registration_form') %>

    <div class="container">
        <div class="row " style="background-color: #ffffff;">
            <div class=" col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-4 myDashboardCard " style="background-color:#6268FF">
                <div class="d-flex align-items-center">
                    <i class="fas fa-user-circle text-light display-2 m-4"></i>
                    <p class="my-4 text-light">Hemant Prajapati Owner<br>9879875678</p>
                </div>
                <div class="mx-5 fw-bold text-light">
                    <span class="dashboard-links" onclick="showDatails('account-details')">Account Details</span><br><br>
                    <span class="dashboard-links" onclick="showDatails('vehicle-details')">Vehicles</span><br><br>
                    <span class="dashboard-links" onclick="showDatails('driver-details')">Drivers</span><br><br>
                    <span class="dashboard-links" onclick="showDatails('change-password')">Change Password</span><br><br>
                    <span class="dashboard-links" onclick="showDatails('wallet-details')">Wallet</span><br><br>
                    <span class="dashboard-links" onclick="showDatails('view-history')">History</span><br><br>
                    
                    <button class="btn btn-primary  mt-2 w-75 text-dark" style="background-color: #d8d6e3;">User DashBoard</button>
                    <button class="btn btn-primary  my-3 w-75 text-dark" style="background-color: #d8d6ed;">Driver DashBoard</button>

                </div>
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="account-details">
                <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                    <div class="d-sm-flex m-2"  style="background-color: white; width: 98%;">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 mt-3 ps-5">
                            <img src="images/profilePic.jpeg" height="auto" width="50%" alt="" style="border-radius: 50%;">
                            <!-- <i class="fa-solid fa-circle-user m-4  display-1 text-secondary" style="color: #1f2551; height: fit-content;"></i> -->
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 mt-3">
                            <label for="name" class="fw-bold fs-5 my-1">Name : </label><span> Andrew Anderson</span><br>
                            <label for="gender" class="fw-bold fs-5 my-1">Gender : </label><span> Male</span><br>
                            <label for="Date" class="fw-bold fs-5 my-1">DOB : </label><span> 29/12/2004</span><br>
                            <label for="email" class="fw-bold fs-5 my-1">E-mail : </label><span> andrewanderson@gmail.com</span><br>
                            <label for="Address" class="fw-bold fs-5 my-1">Address : </label><span> Khandwa Naka, Indore</span><br>
                            <label for="city" class="fw-bold fs-5 my-1">City : </label><span>  Indore</span><br>
                            <label for="state" class="fw-bold fs-5 my-1">State : </label><span>  Madhya Pradesh</span><br>
                            <label for="pincode" class="fw-bold fs-5 my-1">Pin code : </label><span>  452020</span><br>
                            <label for="pincode" class="fw-bold fs-5 my-1">Aadhar Number : </label><span> 9810 3410 3453</span><br>
                            <button class="btn btn-primary btn-md my-5 w-50 " style="background-color: #5647F9;">Update Details</button>
                            <br><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Owner Account Details -->
      
            <!-- Owner Vehicles -->
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="vehicle-details">
                <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                    <div class="table-responsive">
                        <h4 class="text-center fw-bold mt-2 " style="background-color: white;">Vehicle List</h4>
                        <br>
                        <table class="table table-striped" style="background-color: white;">
                            <thead>
                                <th>Registration Number</th>
                                <th>Vehicle Class</th>
                                <th>Fuel Type</th>
                            </thead>
                            <tbody>
                                <!-- Table Data Fill Here -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row mx-1 my-2 bg-light">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold"  data-bs-toggle="modal" data-bs-target="#vehicle-registration"> Add Vehicle</button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold">Update Vehicle</button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold">Remove Vehicle</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Owner Vehicles -->

            <!-- Owner Drivers List -->
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="driver-details">
                <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                    <div class="table-responsive">
                        <h4 class="text-center fw-bold mt-2 " style="background-color: white;">Driver List</h4>
                        <br>
                        <table class="table table-striped" style="background-color: white;">
                            <thead>
                                <th>Driver Name</th>
                                <th>Gender</th>
                                <th>Age</th>
                                <th>Driver Contact</th>
                            </thead>
                            <tbody>
                                <!-- Table Data Fill Here -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="row mx-1 my-2 bg-light">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold" data-bs-toggle="modal" data-bs-target="#reservedDriverRegistrationForm"> Add Driver</button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold">Update Driver </button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary w-75 m-4 fw-bold">Remove Driver</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         <!-- Owner Drivers List -->


            <!-- Owner Change Password -->
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="change-password">
                <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                    <h4 class="text-center fw-bold my-2 m-2 " style="background-color: white;">Change Password</h4>
                    <div class="m-2" style="background-color: white;">
                        
                        <div class="text-center" style="background-color: white;">
                            <div class="">
                                <label class=" fw-bold fs-5 mt-3" for="oldpassword">Old Password</label><br>
                                <input type="password" class="w-50 text-start border-dark " placeholder="Enter Old Password" id="oldpassword">
                            </div>
                            <div class="my-5">
                                <label class="fw-bold fs-5 " for="newpassword">New Password</label><br>
                                <input type="password" class="w-50 text-start border-dark " placeholder="Enter Old Password" id="newpassword">
                            </div>
                            <div class="my-5">
                                <label class="fw-bold fs-5  " for="confirmpassword">Confirm Password</label><br>
                                <input type="password" class="w-50 text-start border-dark " placeholder="Enter Old Password" id="confirmpassword">
                            </div>
                            <div class="mt-5">
                               <button class="btn btn-primary w-25 form-control"  onsubmit="return validatePassword()">Submit</button><br><br>
                            </div>
                            <br>
                        </div>
                       
                    </div>
                </div>
            </div>    
            <!-- Owner Change Password -->

            <!-- Owner Wallet -->
            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="wallet-details">
                <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                    <div>
                        <h4 class="text-center fw-bold mt-2 " style="background-color: white;">WALLET</h4>
                    <div class="bg-light "><br>
                            <span class="fs-4  ms-5 fw-bold">Wallet Amount: $ 300</span>
                        <div class="row mx-1 my-1 bg-light">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <button class="btn btn-primary btn-md m-4 w-75">Withdraw</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <button class="btn btn-primary btn-md m-4 w-75">Income History</button>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <button class="btn btn-primary btn-md m-4 w-75">Withdraw History</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                  
                        <table class="table table-striped" style="background-color: white;">
                            <thead>
                                <th>S.No.</th>
                                <th>Date</th>
                                <th>Withdraw Amount</th>
                                <th>GST</th>
                                <th>Platform Charges</th>
                            </thead>
                            <tbody>
                                <!-- Table Data Fill Here -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Owner Wallet -->

            <!--History-->

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12" id="view-history">
                <div class="row  ms-lg-1 mt-4 myDashboardCard " style="background-color: rgb(195, 194, 194);">
                    <div>
                        <h4 class="text-center fw-bold mt-2 " style="background-color: white;">History</h4>
                    <div class="bg-light "><br>
                            <span class="fs-5 fw-bold ms-5">Vehicle Registration Number or Driver Name</span>
                            <input type="text" class="ms-5 my-2 w-75 border-dark" placeholder="Enter Vehicle Registration Number Or Driver Name">
                        <div class="row mx-1 my-1 bg-light">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <button class="btn btn-primary btn-md m-4 w-75">Search</button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                  
                        <table class="table table-striped" style="background-color: white;">
                            <thead>
                                <th>S.No.</th>
                                <th>Date</th>
                                <th>Driver Name</th>
                                <th>Passenger Name</th>
                                <th>Passenger Contact</th>
                                <th> Charges</th>
                            </thead>
                            <tbody>
                                <!-- Table Data Fill Here -->
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    </div>
                </div>
            </div>
            <!-- History -->

        </div>
    </div>

    <!-- adding footer -->
    <%- include('../partials/footer') %>
    <link rel="stylesheet" href="/css/owner_dashboard.css">
    <script src="/js/driver_dashboard.js"></script>
    <script src="/js/owner_dashboard.js"></script>
</body>
</html>