<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BTC : Safety</title>
  <link rel="stylesheet" href="/css/safety.css">
</head>

<body>

  <!-- adding navbar -->
  <%- include('../partials/navbar') %>

  <div class="container-fluid " id="overview">
    <div class="row">
        <div class="offset-lg-1 col-lg-2 col-md-3 col-sm-3 col-xs-12"><span class="fs-4 fw-bold">Overview </span></div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12"><span class="fs-4 fw-bold">Customer</span> </div>
        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12"><span class="fs-4 fw-bold">Captain </span> </div>
    </div>
  </div>
  </div>
</div>
</div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 ">
        <h1>Safety is Our Responsibility</h1>
        <p class="mt-5 ms-4">The first priority, of course, is making the process safe. “Expanding on our ’ we are
          also a member of the Clorox Safer Today Alliance in collaboration with Cleveland Clinic and the CDC Foundation,”
          notes Lisa Martini, communications director at Enterprise Holdings, owner of and As part of the program,
          customers will find an individually packaged Clorox wipe in every rental vehicle, with tips for how to
          disinfect surfaces for extra peace of mind.
        </p>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 ">
        <img class="text-image" src="images/img1.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 ">
        <h1>Captain Safety</h1>
        <img class="text-image" src="images/img2.jpg" alt="">
        <p class="mt-5 ms-3 ">The first priority, of course, is making the process safe. “Expanding on our ’ we are
          also a member of the Clorox Safer Today Alliance in collaboration with Cleveland Clinic and the CDC Foundation,”
          notes Lisa Martini, communications director at Enterprise Holdings, owner of and As part of the program,
          customers will find an individually packaged Clorox wipe in every rental vehicle, with tips for how to
          disinfect surfaces for extra peace of mind.</p>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12 ">
        <h1>Customer Safety</h1>
        <img class="text-image" src="images/img3.jpg" alt="">
        <p class="my-5 ms-3">The first priority, of course, is making the process safe. “Expanding on our ’ we are
          also a member of the Clorox Safer Today Alliance in collaboration with Cleveland Clinic and the CDC Foundation,”
          notes Lisa Martini, communications director at Enterprise Holdings, owner of and As part of the program,
          customers will find an individually packaged Clorox wipe in every rental vehicle, with tips for how to
          disinfect surfaces for extra peace of mind.</p>
      </div>
    </div>
  </div>

  <!-- adding footer -->
  <%- include('../partials/footer') %>

</body>

</html>