<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- Bootstrap CSS Link -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <!-- Leaflet Map CSS Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  
  <link rel="stylesheet" href="/css/vehicle_booking.css">
  <link rel="stylesheet" href="/css/formValidation.css">


</head>

<body>
       <!-- adding navbar -->
       <%- include('../partials/navbar')%>
  <div class="container mt-5">


  <div class="row">
    <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12 formBlock" id="BelowlocationSection">
      <form id="form" method="post" action="/user/searchvehicle" onsubmit="return submitFormData5()">
        <div class="m-3 p-1 form-field">
          <label for="bookstartdate" class="form-label fw-bold text-light">Booking Start Date</label>
          <input type="date" class="form-control" placeholder="Enter Booking Start Date " id="bookstartdate" name="bookstartdate" onchange="bookStartDate5()">
          <small></small>
        </div>
        <div class="m-3 p-1 form-field">
          <label for="bookstarttime" class="form-label fw-bold text-light">Booking Start Time</label>
          <input type="time" class="form-control" placeholder="Enter Booking Start Date " id="bookstarttime" name="bookstarttime" onchange="checkBookStartTime5()">
          <small></small>
        </div>
        <div class="m-3 p-1 form-field">
          <label for="bookenddate" class="form-label fw-bold text-light">Booking End Date</label>
          <input type="date" class="form-control" placeholder="" id="bookenddate" name="bookenddate" onchange="BookEndDate5()">
          <small></small>
        </div>
        <div class="m-3 p-1 form-field">
          <label for="bookendtime" class="form-label fw-bold text-light">Booking End Time</label>
          <input type="time" class="form-control" placeholder="Enter Booking Start Date " id="bookendtime" name="bookendtime" onchange="">
          <small></small>
        </div>
        <div class="m-3 p-1 form-field">
          <label for="pickuplocation" class="form-label fw-bold text-light">Pick Up Location</label>
          <input type="text" class="autocomplete-container form-control" placeholder="Enter PickUp Location" id="pickuplocation" name="pickuplocation" onkeyup="checkPickUpLocation5()">
          <div class="autocomplete-container" id="autocomplete-container-country"></div>
          <div class="autocomplete-container" id="autocomplete-container-city"></div>
          <small></small>
        </div>

        <div class="m-3 p-1 form-field">
          <label for="droplocation" class="form-label fw-bold text-light">Dropping Off Location</label>
          <input type="text" class="autocomplete-container form-control" placeholder="Enter Dropping Up Location" id="droplocation" name="droplocation" onkeyup="checkDropLocation5()">
          <div class="autocomplete-container" id="autocomplete-container-country-2"></div>
          <div class="autocomplete-container" id="autocomplete-container-city-2"></div>
          <small></small>
        </div>
       
          <div class="m-3 p-1"><br>
            <!-- <button  class="btn btn-primary w-100 " onclick="postData()">Search Vehicle</button> -->
            <input type="submit" class="btn btn-primary w-100 " value="Search Vehicle" >
            <input type="reset" class="btn btn-secondary w-100 mt-3" value="Reset Form">
          </div>
        </form>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <div id='map'></div>
    </div>
  </div>

  <div class="container mt-5">
    <label for="distancetotal" class="fs-5 fw-bold ">Distance : </label>
    <span id="distance" class="fs-5 fw-bold"></span><br>

    <label for="amounttotal" class="fs-5 fw-bold">Total Amount : </label>
    <span id="amount" class="fs-5 fw-bold"></span><br>

    <label for="hours" class="fs-5 fw-bold ">Total Hours : </label>
    <span id="hours" class="fs-5 fw-bold" name="hours"></span><br>
  </div>

  <div class="container">

    <div class="row rounded border border-1 bg-secondary text-light fw-bold fs-5">
      <div class="col-lg-4 col-md-4 col-sm-4  text-center text mt-2 mb-2 ">Total Time : 22 hr</div>
      <div class="col-lg-4 col-md-4 col-sm-4  text-center text mt-2 mb-2 ">Total Distance : &#8377; 10km</div>
      <div class="col-lg-4 col-md-4 col-sm-4  text-center text mt-2 mb-2 ">Total amount  : 10km</div>  <br>
    </div>
  </div><br>

  <div class="container mt-4">

    <div class="row custom-div" >
      <div class=" col-lg-2 bg-light">
       <img src="images/images.jpg" height="200px" width="220px" alt="">
      </div>
      <div class=" col-lg-7 ">
        <span class="fs-5 ms-3 fw-bold">Mahindra Scorpio S11 <sub>(2010)</sub></span><br>
        <div class="row mt-3">
            <div class="offset-lg-2 col-lg-2 col-md-4 col-sm-4 col-xs-4"><i class="fas fa-user" style="color: #a5adbb; font-size: 22px;"></i><span class="text-secondary fw-bold ms-1"> 5 seats</span></div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4"><img src="images/airbag.jpg" width="25px" height="25px" alt=""> <span class="text-secondary fw-bold ms-1">2 bags</span></div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4"><img src="images/cardoor.jpg" width="25px" height="25px" alt=""> <span class="text-secondary fw-bold ms-1">5 Doors</span></div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4"><img src="images/manualcar.jpg" width="25px" height="25px" alt=""> <span class="text-secondary fw-bold ms-1"> Manual</span></div>
            <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4"><img src="images/accar.jpg" width="25px" height="25px" alt=""><span class="text-secondary fw-bold ms-1">A/C</span></div>
        </div><br>

        <div class="row">
            <div class="offset-lg-2 col-lg-2 col-md-4 col-sm-4"><i class="fa-solid fa-gas-pump" style="color: #787d87;"></i> <span class="text-secondary fw-bold ms-1"> Diesel</span></div>
            <div class="col-lg-2 col-md-4 col-sm-4"><i class="fas fa-tachometer-alt" style="color: #818283;"></i> <span class="text-secondary fw-bold ms-1">22km/l</span></div>
            <div class="col-lg-2 col-md-4 col-sm-4"><img src="images/withdriver.jpg" width="25px" height="25px" alt=""> <span class="text-secondary fw-bold ms-1">No</span></div>
            <div class="col-lg-2 col-md-4 col-sm-4"> <span class="fa fa-star checked" style="color: orange"></span><span class="fa fa-star checked" style="color: orange"></span><span class="fa fa-star checked" style="color: orange"></span><span class="fa fa-star checked" style="color: black"></span><span class="fa fa-star checked" style="color: black"></span> 3.0<span class="text-secondary fw-bold ms-1"></span></div>
            <div class="col-lg-2 col-md-4 col-sm-4"> <span class="text-secondary fw-bold ">XUV</span></div>
        </div>

        <div class="row">
          <div class="offset-lg-2 mt-3">
            <small class=" text-primary fw-bold "> Available At : <span class="text-secondary">Bholaram Ring Road Near Rajiv Ghandhi Square, Indore(452001)</span></small>
          </div>
        </div>
      </div>

      <div class=" col-lg-3 ">
        <p class="fs-3 text-lg-center fw-bold "> &#x20B9; 1500  <span class="text-center fw-bold ms-1 fs-6">(Total Cost of Rental)</span> </p>
        <p class="fs-4 ms-lg-3 fw-bold  "> &#x20B9; 22.50  <span class="text-center fw-bold ms-1 fs-6">(Per/hr Cost)</span> </p>
        <p class="ms-3"><i class="fa-solid fa-check" style="color: #21c076; font-size: 18px; font-weight: bold;"></i><span class="ms-2 text-secondary fw-bold">Free Cancellation</span></p>
        <button class="btn btn-primary ms-3 mb-4  " style="width: 88%;">Book Now</button>
      </div>
    </div>


    </div>
  </div>
  
  <!-- adding footer -->
  <%- include('../partials/footer')%>
</body>
<!-- Bootstrap cdn -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

<!-- Map Api cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=S8d7L47mdyAG5nHG09dUnSPJjreUVPeC"></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=S8d7L47mdyAG5nHG09dUnSPJjreUVPeC"></script>

<script src="/vehicleBookingApi.js"></script>
<script src="/autoCompleteAddressApi.js"></script>
<script src="/js/vehicle_booking_page.js"></script>


</html>