<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <link rel="stylesheet" href="/css/vehicle_booking.css">
  <link rel="stylesheet" href="/css/formValidation.css">
</head>

<body>
       <!-- adding navbar -->
       <%- include('../partials/navbar')%>
  <div class="container mt-5">


  <div class="row">
    <div class=" col-lg-4 col-md-12 col-sm-12 col-xs-12 formBlock" id="BelowlocationSection">
      <form id="form">
        <div class="m-3 p-1 form-field">
          <label for="bookstartdate" class="form-label fw-bold text-light">Booking Start Date</label>
          <input type="date" class="form-control" placeholder="Enter Booking Start Date " id="bookstartdate" name="bookstartdate" onchange="checkBookingStartDate()">
          <small></small>
        </div>
        <div class="m-3 p-1 form-field">
          <label for="bookstarttime" class="form-label fw-bold text-light">Booking Start Time</label>
          <input type="time" class="form-control" placeholder="Enter Booking Start Date " id="bookstarttime" name="bookstarttime" onchange="checkBookStartTime()">
          <small></small>
        </div>
        <div class="m-3 p-1 form-field">
          <label for="bookenddate" class="form-label fw-bold text-light">Booking End Date</label>
          <input type="date" class="form-control" placeholder="" id="bookenddate" name="bookenddate" onchange="checkBookingEndDate()">
          <small></small>
        </div>
        <div class="m-3 p-1 form-field">
          <label for="bookendtime" class="form-label fw-bold text-light">Booking End Time</label>
          <input type="time" class="form-control" placeholder="Enter Booking Start Date " id="bookendtime" name="bookendtime" onchange="">
          <small></small>
        </div>
        <div class="m-3 p-1 form-field">
          <label for="pickuplocation" class="form-label fw-bold text-light">Pick Up Location</label>
          <input type="text" class="autocomplete-container form-control" placeholder="Enter PickUp Location" id="pickuplocation" name="pickuplocation" onkeyup="checkPickUpLocation()">
          <div class="autocomplete-container" id="autocomplete-container-country"></div>
          <div class="autocomplete-container" id="autocomplete-container-city"></div>
          <small></small>
        </div>

        <div class="m-3 p-1 form-field">
          <label for="droplocation" class="form-label fw-bold text-light">Dropping Off Location</label>
          <input type="text" class="autocomplete-container form-control" placeholder="Enter Dropping Up Location" id="droplocation" onkeyup="checkDropLocation()">
          <div class="autocomplete-container" id="autocomplete-container-country-2"></div>
          <div class="autocomplete-container" id="autocomplete-container-city-2"></div>
          <small></small>
        </div>
        <div class="m-3 p-1 form-field">
          <label for="vehicleclass" class="form-label fw-bold text-light">Vehicle Class</label>
          <select class="form-select" name="vehicleclass" id="vehicleclass" onchange="checkVehicleClass()">
            <option class="fw-bold" value="">Select Vehicle Class</option>
            <option class="fw-bold" value="Online">Two Wheeler</option>
            <option class="fw-bold" value="Cash">Four Wheeler</option>
          </select>
          <small></small>
        </div>
        <div class="m-3 p-1 form-field">
          <label for="payment_mode" class="form-label fw-bold text-light">Select Method</label>
          <select id="paymentmode" class="form-select" name="paymentmode" onchange="checkPaymentMode()">
            <option class="fw-bold" value="">Select Payment Method</option>
            <option class="fw-bold" value="Online">Online</option>
            <option class="fw-bold" value="Cash">Cash</option>
          </select>
          <small></small>
        </div>

          <div class="m-3 p-1"><br>
             <input type="submit" class="btn btn-primary w-100 " value="Search Vehicle">
             <input type="reset" class="btn btn-secondary w-100 mt-3" value="Reset Form">
          </div>
        </form>
    </div>
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
      <div id='map'></div>
    </div>
  </div>

  <div class="container mt-5">
    <label for="distancetotal" class="fs-5 fw-bold ">Distance : </label>
    <span id="distance" class="fs-5 fw-bold"></span><br>
    <label for="amounttotal" class="fs-5 fw-bold">Total Amount : </label>
    <span id="amount" class="fs-5 fw-bold"></span>
  </div>

  <div class="container mt-4">
    <div class="row ">
      <div class="col-lg-6 col-md-6 col-sm-12 my-3 ">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <!-- <div class="row"> -->
      <div class="col col-lg-6 col-md-6 col-sm-12 my-3 ">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <!-- <div class="row"> -->
      <div class="col col-lg-6 col-md-6 col-sm-12 my-3 ">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <!-- <div class="row"> -->
      <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-md-5 my-3">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->

      <!-- <div class="row"> -->
      <div class="col col-lg-6 col-md-6 col-sm-12 my-3">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col col-lg-6 col-md-6 col-sm-12 my-3">
        <div class="card w-100 card-shadow">
          <div class="card-body justify-content-between d-flex">
            <div>
              <i class='fas fa-car-side display-1 mx-5'></i>
            </div>
            <div>
              <h5 class="card-title text-primary">Mahindra Scorpio</h5>
              <p class="card-text"> <i class='fas fa-map-pin fs-2 text-danger '></i>Rajwada Circle</p>
              <button class="btn btn-warning">Book Now</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <!-- adding footer -->
  <%- include('../partials/footer')%>
</body>
<!-- Map Api cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=S8d7L47mdyAG5nHG09dUnSPJjreUVPeC"></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=S8d7L47mdyAG5nHG09dUnSPJjreUVPeC"></script>

<script src="/vehicleBookingApi.js"></script>
<script src="/autoCompleteAddressApi.js"></script>
<script src="/js/vehicle_booking_page.js"></script>
</html>